<%= setup_context :title => I18n.t("plugins.resource_audit.title") %>

<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="padding-bottom: 10px;">
    <h2><%= I18n.t("plugins.resource_audit.title") %></h2>

    <%= render_aspace_partial :partial => "form" %>
  </div>
</div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/resource_audit.js" %>"></script>
